body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 20px;
}

h1{
  color: #333;
}
p{
  color: #666;
}

.destaque{
  background-color: #ffcc00;
  padding: 10px;
}
